.cabecalho {
    z-index: 5;
    position: fixed;
    /* position: relative; */
    top: 0;
}

/* odeio fazer esse btn */

.cabecalho__menu {
    /* width: 90%; */
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 76px;
    right: 3%;
    gap: 1rem;
    z-index: 2;
}

#btnhowMenu {
    padding: .5rem;
    border-radius: 5px;
}

.abrir {
    animation: showMenu 1s;
}


@keyframes showMenu {
    0% {
        opacity: 0;
        transform: translateX(+100%);


    }

    100% {
        opacity: 1;
        transform: translateX(0%);

    }
}

/* Botao auxiliar para fechar */
.hidden {
    display: none;
}

.fechar {
    animation: hiddenMenu 1s;
}

@keyframes hiddenMenu {

    0% {
        opacity: 1;
        transform: translateX(0%);
        /* top: 85px; */
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
        /* top: -190px; */

    }

}

#btnFecharMenu {
    display: none;
}

.all {
    background-color: var(--grey6);
}

.all_a {
    color: var(--dark-gray);

}

.cabecalho__menu nav {
    border-bottom: 1px solid var(--gray4);

}

.cabecalho__menu nav ul {
    background: gray;


}

.cabecalho__menu nav ul li {
    background-color: var(--whiteFixed);
    margin-bottom: .5rem;
    padding: .5rem;
    border-radius: 5px;
}

.cabecalho__menu nav ul li .btns_singUp {
    padding: .4rem;
    width: 100%;

}

.cabecalho__menu nav ul li a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--grey1);
    transition: .3s;
}

.cabecalho__menu_hamburgue {
    cursor: pointer;

}


/* Menu*/

.logo_desk {
    display: none;
}

.main_container {
    gap: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4.3rem auto;

}


/* ===  Cadastrar Empresa */
.criarEmpresa {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;




}


.form_CadastrarEmpresa {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: solid 1px var(--brand-2);
    max-width: 480px;
    border-radius: 10px;



}

.form_CadastrarEmpresa>div {
    display: flex;
    margin-top: 10px;
    justify-content: center;

}

.form_CadastrarEmpresa>div>.btn-geral {
    padding: .5rem;
    color: var(--colortext);

}

.form_CadastrarEmpresa>h3 {
    margin-bottom: 10px;


}

.form_CadastrarEmpresa input {
    margin-bottom: 10px;
    padding: .5rem;
}

.select_departamento {}

.select_departamento option {}

/* ======== Estilo container Listar Empresas */

.container__empresas {
    position: relative;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    height: auto;
}

.container__empresas .renderEmpresas {
    display: flex;
    overflow-x: auto;
    gap: 1rem;    
    background: url(https://api.lorem.space/image/furniture?w=260&h=150) center;

}

.btnListGeral{
    margin-left: 5px;
    font-size: var(--text2);
    font-weight: 600;
}




.renderEmpresas .renderEmpresa__li {
    background: linear-gradient(var(--grey-opacidade), var(--grey-opacidade));
    min-width: 80%;
   
}

.container__empresas .renderEmpresas .renderEmpresa__li .box_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-width: 100%;

}

.box_imgDender img {
    width: 80px;
}

.box_content>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box_content>h3 {}


.box_content>span {}

.box_content p {
   
}

.box_content select {
    padding: .5rem;
}

.box_content select option {}

.box_btns {
    text-align: center;
    border-radius: 5px;
}

.box_btns>.btn-geral {
    width: 100%;
    padding: .4rem;

}


.criarDepartamento{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: .5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
   


.criarDepartamento .boxForm> h3{
  
}

.criarDepartamento .boxForm {
    width: 160px;
    margin: 0 auto;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    
}

.criarDepartamento  .boxForm input{
    padding: 0.9rem;
    max-width: 100%;
}

.criarDepartamento > .btn-geral{
  height: 20px;
  width: 83%;
    
}


/* ========== Estilo renderizar departamentos  e funcionarios ============ */

.renderGeral {
    margin-top: 4rem;
    padding: .5rem;

}

.renderGeral>h2 {
    text-align: center;
    padding: 16px 0;
}

.renderGeral .ul__render_dep {
    display: flex;
    flex-direction: column;
    gap: 1rem;


}

.renderGeral .ul__render_dep li {

}

.renderGeral .ul__render_dep li .box_content_infoDep {
    color: var(--colortext);
    gap: .5rem;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border: solid rgb(251, 134, 0) 1px;
    background-color: var(--whiteFixed);
    border-radius: 5px;

}

.ul__render_dep .btnLisar{
    padding: 5px;
    border-radius: 5px;
    width: 45%;
}

.renderGeral .btnListGeral2{
    width: 60%;
    max-width: 200px;
    margin-bottom: 5px;
}

.box_content_infoDep {}

.box_content_infoDep>h3 {}

.box_content_infoDep p {}

.box_content_infoDep>span {}


/* estilo editar empresa  */
.formEditar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.formEditar i{
   font-weight: 700;
   font-size: 1.2rem;
   cursor: pointer;
   transition: .3s linear;
}
.formEditar .fa-solid:hover{
   font-size: 1.4rem;
}

.formEditar .texto{
    padding: 1rem;
    width: 90%;
    margin: auto;
}
.formEditar .texto::placeholder{
    padding: 1rem;
    font-size: var(--text2);
  
}
.formEditar .btn-geral{
    text-align: center;
    width: 80%;
    padding: .5rem;
    border-radius: 5px;
}








/* carrosel */




@media screen and (min-width: 480px) {
    .logo_mibile {
        display: none;
    }

    .logo_desk {
        display: block;
    }
    .renderEmpresas .renderEmpresa__li {
        background: linear-gradient(var(--grey-opacidade), var(--grey-opacidade));
        min-width: 460px;
       
    }
    .box_content_infoDep .box_btns {
        text-align: end;       
         margin-bottom: 9px;
 
    }
    .box_content_infoDep .box_btns .btnLisar  {
        max-width: 150px;
 
    }

    .box_btns {
        text-align: center;
        margin-bottom: 16px;
        
        /* background-color:var(--grey2); */
    }

    .criarDepartamento{
        text-align: center;
        margin-top: .5rem;
        color: var(--grey1);
        position: absolute;
      
        animation: criat 1s;
    }
 

}